name: Tests

on:
  push:
    branches: [ master ]
    paths:
      - src/**
      - .github/workflows/**

  pull_request:
    branches: [ master ]
    paths:
      - src/**
      - .github/workflows/**

env:
  CARGO_TERM_COLOR: always

jobs:
  tests:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install nightly toolchain
      run: rustup toolchain install nightly
    - name: Install blis
      run: sudo apt install libblis-dev
    - name: Run tests
      run: cargo +nightly t -p tests
